.about-us-info {
    padding-top: 50px;
}

.about-us-text {
    font-size: 18px;
    line-height: 2;
    text-align: justify;
}

.about-us-image-container {
    border: 5px solid #ffab00;
}

.about-us-image {
    max-width: 600px;
    margin: 20px 20px -30px -30px;
}

.row-reverse {
    padding-top: 100px;
}

@media screen and (max-width: 1650px) {
    .about-us-image {
        max-width: 400px;
    }
}

@media screen and (max-width: 1366px) {

    .about-us-info.row-reverse {
        flex-wrap: wrap-reverse;
    }
    .about-us-info {
        flex-wrap: wrap;
    }
    .about-us-image {
        max-width: 100%;
    }
    .about-us-image-container {
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .image-col {
        margin-left: 30px;
    }
}