section#aside {
    padding-top: 50px;
}

.aside-row {
    display: flex;
    justify-content: space-between;
}

.sidenav {
    height: 100%;
    padding-top: 50px;
    min-width: 30vw;
}

.aside-options {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.aside-items-container {
    flex-grow: 1;
}

.aside-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}

.specs-table .heading-row, .engines-table thead tr td{
    background-color: #000;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

.specs-table {
    border-bottom: 30px solid #000;
    margin: 0;
}

.heading-row td, .specs-table tr td, .engines-table thead tr td {
    padding: 10px;
}

.engines-table td {
    vertical-align: top;
}

.engines-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

td.title-td {
    font-weight: 600;
}

td.info-td {
    text-align: right;
}

.table-list {
    list-style: none;
    padding: 0;
}

.table-list li {
    padding: 2px 0;
}

.table-image {
    max-width: 100%;
}

.aside-content {
    padding: 50px 50px 0 50px;
}

.specs-list {
    list-style: none;
    padding: 0;
}

.specs-list li{
    padding: 5px 0;
}

@media screen and (max-width: 1200px) {
    .sidenav {
        width: 100vw;
        height: 100%;
    }
    .aside-row {
        flex-wrap: wrap;
    }
    .specs-table {
        width: 100vw;
    }
    .img-td {
        text-align: center;
    }
    .engines-wrapper {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    section#aside .section-heading {
        margin-bottom: 50px;
    }
    .aside-row {
        flex-wrap: wrap;
    }
}
