body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.section-container {
    width: 90%;
    margin: auto;
}

.section-heading {
    text-align: center;
    text-transform: uppercase;
    padding: 0 10px 20px 10px;
}

.section-heading h2 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 5px;
}

.section-heading-underline {
    height: 5px;
    width: 100px;
    margin: auto;
    background-color: #ffab00;
    border-radius: 20px;
}

.section-subheading {
    border-bottom: 5px solid #ffab00;
    text-align: right;
}


.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.col {
    padding: 0 50px;
}

section {
    padding-top: 100px;
}

section#gallery {
    padding-bottom: 100px;
}

@media screen and (max-width: 768px){
    .col {
        padding: 0;
    }
}